.brands {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  .brands-box {
    border: 1px #dbdff0 solid;
    width: 70%;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px;
    flex-flow: wrap;
    gap: 10px;

    @media only screen and (min-width: 768px) {
      padding: 30px;
    }
  }
}
