.process {
  width: 100%;
  margin-top: 30px;
}

.process-box {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.our-process {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 10px;

  .text1 {
    font-family: "JustAnotherHand-Regular";
    font-size: 18px;
    letter-spacing: 3.24px;
    font-weight: normal;
    color: #f8ba12;
    text-transform: uppercase;
    text-align: center;
  }

  .text2 {
    font-family: "Jost";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  .text3 {
    font-family: "Jost";
    font-size: 15px;
    font-weight: normal;

    color: #989fbc;
  }
}

.process-card {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  // border: 2px green dotted;
  margin-bottom: 25px;
}

// .section-design {
//   // position: absolute;
// }

.steps {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 100%;
  font-family: "Jost";
  // border: 3px red solid;

  .visual1 {
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff1ed;
    background-size: contain;
    border-radius: 50%;
    padding: 12px;
  }
  .visual2 {
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d0edfa;
    background-size: contain;
    border-radius: 50%;
    padding: 12px;
  }
  .visual3 {
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e7fdf8;
    background-size: contain;
    border-radius: 50%;
    padding: 12px;
  }

  h3 {
    text-align: center;
    font-family: "Jost";
    font-size: 24px;
    font-weight: bold;
  }
  p {
    color: #989fbc;
    font-size: 22px;
    text-align: center;
    font-family: "Jost";
    font-size: 22px;
    font-weight: normal;
  }
}

@media only screen and (min-width: 768px) {
  .process-card {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }
}
