.recent {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  // border: 1px red dotted;
  .recent-box {
    // border: 1px blue dotted;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.recent-products {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 10px;
  // border: 1px green dotted;
  text-align: center;

  .recent-header-sub {
    font-family: "JustAnotherHand-Regular";
    font-size: 18px;
    letter-spacing: 3.24px;
    font-weight: normal;
    color: #f8ba12;
    text-transform: uppercase;
  }

  .recent-header {
    font-family: "Jost";
    font-size: 25px;
    font-weight: bold;
  }

  .recent-desc {
    font-family: "Jost";
    font-size: 15px;
    font-weight: normal;

    color: #989fbc;
  }
}

.recent-cards {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  // border: 2px green dotted;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  .recent-card {
    margin-top: 15px;
    max-width: 200px;
    font-family: "Jost";
    // border: 3px red solid;/
    .recent-photo {
      max-width: 200px;
      height: 150px;
      margin-bottom: 5px;
      img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        background-color: #989fbc;
      }
    }

    .card-subd {
      text-align: center;
      font-family: "Jost";
      font-size: 10px;
      color: #989fbc;
      text-transform: uppercase;
      line-height: 15px;
      margin-bottom: 5px;
    }

    .card-title {
      text-align: center;
      margin-bottom: 5px;
      font-family: "Jost";
      font-weight: 600;
    }
    .card-desc {
      color: #989fbc;
      font-size: 15px;
      text-align: center;
      font-family: "Jost";
      line-height: 17px;
      margin-bottom: 5px;
    }
    .card-btn {
      color: #e31244;
      font-size: 14px;
      font-family: Jost;
      font-weight: 600;
      border-radius: 30px;
      border: 2px solid #ffadc1;
      background: rgba(254, 82, 101, 0);
      padding: 8px;
      width: 130px;
      margin-left: 30px;
    }
  }
}
@media only screen and (min-width: 530px) {
  .recent-cards {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
  }
}
