footer {
  // border: 1px black dotted;
  background-color: #fff2f3;

  padding-bottom: 20px;

  .footer-box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    .design1 {
      padding: 5px;
      margin-left: 200px;
    }

    h4 {
      color: #3f4767;
    }

    li {
      margin-top: 10px;
    }
    a {
      color: #9097af;
    }

    .footercards {
      justify-content: space-between;
      // border: 2px purple dotted;

      &__left {
        display: flex;
        justify-content: space-between;

        &--about {
          margin-right: 18px;
        }
      }

      &__subscribe {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        input {
          padding: 5px;
          font-size: 16px;
          width: 250px;
          height: 35px;
          box-shadow: none;
          // border: none;
          outline: none;
          border-radius: 25px;
        }
        button {
          padding: 7px;
          background-color: #3f4767;
          color: #ffffff;
          font-weight: semibold;
          font-size: 14px;
          border: none;
          border-radius: 20px;
          margin-left: 75px;
        }
      }
      &__right {
        display: flex;
        justify-content: space-between;
      }
    }

    .copyright {
      padding: 10px;
      margin-top: 15px;

      &__design2 {
        width: 30px;
        position: absolute;
      }

      p {
        color: #979ba9;
        opacity: 0.99;

        display: flex;
        justify-content: center;
      }
    }
  }
}

@media only screen and (min-width: 786px) {
  .design1 {
    text-align: right;
    margin-right: 100px;
  }
  .footercards {
    display: flex;

    &__right {
      gap: 25px;
    }

    &__left {
      gap: 25px;
    }
  }
}
